Repository iesl/box-embeddings: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, docstr-coverage

.pre-commit-config.yaml:

default_language_version:
  python: python3
exclude: (^docs/|^docs_source)
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/terrencepreilly/darglint
    rev: master
    hooks:
    - id: darglint # default config comes from tox.ini
      args: [-v, '2']
  - repo: local
    hooks:
      - id: black
        name: black
        entry: python -m black
        args: [--skip-string-normalization, --config, ./pyproject.toml]
        language: system
        types: [python]

      - id: flake8
        name: flake8
        entry: python -m flake8
        language: system
        types: [python]

      - id: mypy # default config comes from setup.cfg
        name: mypy
        entry: python -m mypy
        language: system
        types: [python]
        exclude: "test_.*" # exclude all test files form type checking

      - id: docstr-coverage
        name: docstr-coverage
        entry: docstr-coverage
        types: [python]
        exclude: "test_.*"
        language: system
        args: [--fail-under, '0'] # fail if less than 50 of code has docstrings
        log_file: docstring-coverage.txt

Intersection module changes
  box_embeddings/modules/intersection/_tf_intersection.py
  box_embeddings/modules/intersection/tf_gumbel_intersection.py
  box_embeddings/modules/intersection/tf_hard_intersection.py
  box_embeddings/modules/intersection/tf_intersection.py
  tests/modules/intersection/test_tf_intersection.py
Due: black, flake8, mypy, docstr-coverage

Minor changes
  box_embeddings/modules/intersection/tf_intersection.py
  tests/modules/intersection/test_tf_intersection.py
Due: black, flake8, mypy, docstr-coverage

Added tensorflow volume changes
  box_embeddings/modules/volume/__init__.py
  box_embeddings/modules/volume/_tf_volume.py
  box_embeddings/modules/volume/tf_bessel_volume.py
  box_embeddings/modules/volume/tf_hard_volume.py
  box_embeddings/modules/volume/tf_soft_volume.py
  box_embeddings/modules/volume/tf_volume.py
  tests/modules/volume/test_tf_hard_volume.py
  tests/modules/volume/test_tf_soft_volume.py
  tests/modules/volume/test_tf_volume.py
Due: black, flake8, mypy, docstr-coverage

added allnenlp model and jsonnet
  box_embeddings/examples/__init__.py
  box_embeddings/examples/mnli_model.jsonnet
  box_embeddings/examples/mnli_model.py
  box_embeddings/parameterizations/tf_box_tensor.py
Due: black, flake8, mypy, docstr-coverage

added external variables to jsonnet
  box_embeddings/examples/mnli_model.jsonnet
Due: none

added more external variables to jsonnet
  box_embeddings/examples/mnli_model.jsonnet
Due: none

added a file
  box_embeddings/examples/mnli_model.jsonnet
  box_embeddings/examples/train_and_test.py
Due: black, flake8, mypy, docstr-coverage

added new files
  box_embeddings/examples/box_embeddings_mnli.yaml
  box_embeddings/examples/mnli_model.jsonnet
  box_embeddings/examples/mnli_run.sh
Due: none

added files for correct logging to wandb
  box_embeddings/examples/mnli_model.jsonnet
  box_embeddings/examples/tensorboard.py
  box_embeddings/parameterizations/tanh_box_tensor.py
Due: black, flake8, mypy, docstr-coverage

deleted some files
  box_embeddings/examples/box_embeddings_mnli.yaml
  box_embeddings/examples/mnli_run.sh
Due: none

logging activations
  box_embeddings/examples/mnli_model.jsonnet
  box_embeddings/examples/mnli_model.py
  box_embeddings/examples/tensorboard.py
Due: black, flake8, mypy, docstr-coverage

Added regularizer to mnli model
  box_embeddings/examples/mnli_model.py
  box_embeddings/examples/tensorboard.py
Due: black, flake8, mypy, docstr-coverage

removed unnecessary logging
  box_embeddings/examples/tensorboard.py
Due: black, flake8, mypy, docstr-coverage

Added regularizer to mnli jsonnet
  box_embeddings/examples/mnli_model.jsonnet
Due: none

mnli lstm model
  box_embeddings/examples/mnli_lstm_model.jsonnet
  box_embeddings/examples/mnli_model.py
Due: black, flake8, mypy, docstr-coverage

added initializer for feedforward
  box_embeddings/examples/mnli_lstm_model.jsonnet
  box_embeddings/examples/mnli_model.py
Due: black, flake8, mypy, docstr-coverage

added initializer for feedforward
  box_embeddings/examples/mnli_model.jsonnet
Due: none

Added torch and tensorflow checks to all the inits
  box_embeddings/common/__init__.py
  box_embeddings/initializations/__init__.py
  box_embeddings/modules/__init__.py
Due: black, flake8, mypy, docstr-coverage

added inits to all folders
  box_embeddings/common/__init__.py
  box_embeddings/initializations/__init__.py
Due: black, flake8, mypy, docstr-coverage

Changes in the intersection module (#57)
  box_embeddings/common/__init__.py
  box_embeddings/initializations/__init__.py
  box_embeddings/modules/intersection/_tf_intersection.py
  box_embeddings/modules/intersection/tf_gumbel_intersection.py
  box_embeddings/modules/intersection/tf_hard_intersection.py
  box_embeddings/modules/intersection/tf_intersection.py
  box_embeddings/modules/volume/__init__.py
  box_embeddings/modules/volume/_tf_volume.py
  box_embeddings/modules/volume/tf_bessel_volume.py
  box_embeddings/modules/volume/tf_hard_volume.py
  box_embeddings/modules/volume/tf_soft_volume.py
  box_embeddings/modules/volume/tf_volume.py
  tests/modules/intersection/test_tf_intersection.py
  tests/modules/volume/test_tf_hard_volume.py
  tests/modules/volume/test_tf_soft_volume.py
  tests/modules/volume/test_tf_volume.py
Due: black, flake8, mypy, docstr-coverage

usage doc with viz
  usage_documentation_pytorch_with_viz.ipynb
Due: none

cosmetic update to usage doc
  usage_documentation_pytorch_with_viz.ipynb
Due: none

revert tanh changes
  box_embeddings/examples/__init__.py
  box_embeddings/modules/pooling/__init__.py
  box_embeddings/parameterizations/tanh_box_tensor.py
  examples/mnli_lstm_model.jsonnet
  examples/mnli_model.jsonnet
  examples/mnli_model.py
  examples/tensorboard.py
  examples/train_and_test.py
Due: black, flake8, mypy, docstr-coverage

Added tf regularizer
  .ipynb_checkpoints/usage_documentation_pytorch-checkpoint.ipynb
  box_embeddings/modules/regularization/__init__.py
  box_embeddings/modules/regularization/tf_l2_side_regularizer.py
  box_embeddings/modules/regularization/tf_regularizer.py
Due: black, flake8, mypy, docstr-coverage

update description
  README.md
Due: none

Update README.md
  README.md
Due: none

update gumbel box paper
  README.md
Due: none

Resolving styling
  box_embeddings/common/__init__.py
Due: black, flake8, mypy, docstr-coverage

removes tanh_box_tensor, adds reduction parameter to regularization
  box_embeddings/modules/regularization/l2_side_regularizer.py
  box_embeddings/modules/regularization/regularizer.py
  box_embeddings/parameterizations/__init__.py
  box_embeddings/parameterizations/tanh_box_tensor.py
  box_embeddings/parameterizations/tf_tanh_box_tensor.py
Due: black, flake8, mypy, docstr-coverage

changes to jsonnet files
  examples/mnli_lstm_model.jsonnet
  examples/mnli_model.jsonnet
Due: none

removes tanh box tensor test files
  tests/parameterizations/test_tanh_activated_box_tensor.py
  tests/parameterizations/test_tf_tanh_activated_box_tensor.py
Due: black, flake8

fixes test for regularizaion
  tests/modules/regularization/test_l2_side_regularizer.py
Due: black, flake8

fixes test for regularizaion
  tests/modules/regularization/test_regularizer.py
Due: black, flake8

Update ci-style.yml
  .github/workflows/ci-style.yml
Due: none

reorg and add mybinder button
  README.md
  usage_doc/usage_documentation_pytorch.ipynb
  usage_doc/usage_documentation_pytorch_with_viz.ipynb
  usage_doc/usage_documentation_tensorflow.ipynb
Due: none

Update README with library description
  README.md
Due: none

Documentation issue and toy example (#62)
  README.md
  box_embeddings/parameterizations/tf_box_tensor.py
  box_embeddings/parameterizations/tf_delta_box_tensor.py
  setup.py
  usage_doc/usage_documentation_pytorch.ipynb
  usage_doc/usage_documentation_pytorch_with_viz.ipynb
  usage_doc/usage_documentation_tensorflow.ipynb
Due: black, flake8, mypy, docstr-coverage

Typing checks fixed
  box_embeddings/initializations/tf_uniform_boxes.py
  box_embeddings/initializations/uniform_boxes.py
  box_embeddings/modules/volume/soft_volume.py
  box_embeddings/modules/volume/tf_soft_volume.py
Due: black, flake8, mypy, docstr-coverage

Removed changed usage example
  usage_documentation_pytorch.ipynb
  usage_documentation_tensorflow.ipynb
Due: none

Added Regularization module in Tensorflow (#61)
  .ipynb_checkpoints/usage_documentation_pytorch-checkpoint.ipynb
  box_embeddings/common/__init__.py
  box_embeddings/initializations/tf_uniform_boxes.py
  box_embeddings/initializations/uniform_boxes.py
  box_embeddings/modules/regularization/__init__.py
  box_embeddings/modules/regularization/tf_l2_side_regularizer.py
  box_embeddings/modules/regularization/tf_regularizer.py
  box_embeddings/modules/volume/soft_volume.py
  box_embeddings/modules/volume/tf_soft_volume.py
Due: black, flake8, mypy, docstr-coverage
