Repository iesl/box-embeddings: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, docstr-coverage

black:
  name: black
  entry: python -m black
  args:
  - --skip-string-normalization
  - --config
  - ./pyproject.toml
  language: system

flake8:
  name: flake8
  entry: python -m flake8
  language: system

mypy:
  name: mypy
  entry: python -m mypy
  language: system

docstr-coverage:
  name: docstr-coverage
  entry: docstr-coverage
  language: system
  args:
  - --fail-under
  - '0'
  log_file: docstring-coverage.txt

fixes pre-commit hooks issues
  box_embeddings/parameterizations/tf_box_tensor.py
  examples/mnli_model.py
  examples/tensorboard.py
  examples/train_and_test.py
Due: black, flake8, mypy, docstr-coverage

fixes train file in mnli_lstm jsonnet
  examples/mnli_lstm_model.jsonnet
Due: none

reverting workflow change
  .github/workflows/ci-style.yml
Due: none

added reduction param to tf_regularization, added changelog
  CHANGELOG.md
  box_embeddings/modules/regularization/tf_l2_side_regularizer.py
  box_embeddings/modules/regularization/tf_regularizer.py
  tests/modules/regularization/test_l2_side_regularizer.py
Due: black, flake8, mypy, docstr-coverage

Update ci-build-docs.yml (#52)
  .github/workflows/ci-build-docs.yml
Due: none

Demo (#45)
  CHANGELOG.md
  box_embeddings/modules/__init__.py
  box_embeddings/modules/pooling/__init__.py
  box_embeddings/modules/regularization/l2_side_regularizer.py
  box_embeddings/modules/regularization/regularizer.py
  box_embeddings/modules/regularization/tf_l2_side_regularizer.py
  box_embeddings/modules/regularization/tf_regularizer.py
  box_embeddings/parameterizations/__init__.py
  box_embeddings/parameterizations/tanh_box_tensor.py
  box_embeddings/parameterizations/tf_box_tensor.py
  box_embeddings/parameterizations/tf_tanh_box_tensor.py
  examples/mnli_lstm_model.jsonnet
  examples/mnli_model.jsonnet
  examples/mnli_model.py
  tests/modules/pooling/test_intersection_pooling.py
  tests/modules/regularization/test_l2_side_regularizer.py
  tests/modules/regularization/test_regularizer.py
  tests/modules/test_embedding.py
  tests/parameterizations/test_tanh_activated_box_tensor.py
  tests/parameterizations/test_tf_tanh_activated_box_tensor.py
Due: black, flake8, mypy, docstr-coverage

Update version in setup.py
  setup.py
Due: black, flake8, mypy, docstr-coverage

Update version in setup.py (#67)
  .github/workflows/ci-build-docs.yml
  setup.py
Due: black, flake8, mypy, docstr-coverage

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update to pytorch document
  usage_doc/usage_documentation_pytorch.ipynb
Due: none

Added tf regularization tests
  tests/modules/regularization/test_tf_l2_side_regularizer.py
  tests/modules/regularization/test_tf_regularizer.py
Due: black, flake8

Minor changes
  tests/modules/regularization/test_tf_l2_side_regularizer.py
  tests/modules/regularization/test_tf_regularizer.py
Due: black, flake8

Regularization bug resolved
  box_embeddings/modules/regularization/tf_l2_side_regularizer.py
  tests/modules/regularization/test_tf_l2_side_regularizer.py
Due: black, flake8, mypy, docstr-coverage

Added tf regularization tests (#72)
  box_embeddings/modules/regularization/tf_l2_side_regularizer.py
  tests/modules/regularization/test_tf_l2_side_regularizer.py
  tests/modules/regularization/test_tf_regularizer.py
Due: black, flake8, mypy, docstr-coverage

Add manual trigger for python-publish workflow
  .github/workflows/python-publish.yml
Due: none

Added mnli vector model
  examples/mnli_lstm_box.jsonnet
  examples/mnli_model.py
  examples/mnli_roberta_box.jsonnet
  examples/mnli_roberta_vector.jsonnet
Due: black, flake8, mypy, docstr-coverage

unset default variables in config
  examples/mnli_roberta_vector.jsonnet
Due: none

Add codecov badge
  README.md
Due: none

update link
  README.md
Due: none

finalize usage doc for pytorch
  README.md
  usage_doc/usage_documentation_pytorch.ipynb
Due: none

removed unnecessary print statements
  examples/mnli_model.py
Due: black, flake8, mypy, docstr-coverage

using cls_pooler in place of bert_pooler
  examples/mnli_roberta_box.jsonnet
Due: none

update README with quickstart
  README.md
Due: none

cosmetic - readme
  README.md
Due: none

test readme emoji
  README.md
Due: none

update readme - rearranging
  README.md
Due: none

centering - readme
  README.md
Due: none

more readme stuff
  README.md
Due: none

readme typos
  README.md
Due: none

readme - more reorg
  README.md
Due: none

add navigation table
  README.md
Due: none

Beautify README.md
  README.md
Due: none

Reorganize README.md
  README.md
Due: none

viz functions v1
  box_visualization_eg.ipynb
Due: none

clean up
  box_visualization_eg.ipynb
Due: none

readme header
  .pre-commit-config.yaml
  README.md
Due: none

viz source func
  .pre-commit-config.yaml
  box_embeddings/visualization/plot_dimension.py
Due: black, flake8, mypy, docstr-coverage

Fix mypy failure
  setup.cfg
Due: none

revert pre-commit-config to old setting.
  .pre-commit-config.yaml
Due: none

Path conditions:
  black: any of: \.py$, but not: (^docs/|^docs_source)
  flake8: any of: \.py$, but not: (^docs/|^docs_source)
  mypy: any of: \.py$ and not (test_.*) and not ((^docs/|^docs_source))
  docstr-coverage: any of: \.py$ and not (test_.*) and not ((^docs/|^docs_source))
